footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: #5c5c5c;
  text-align: right;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1px;
}
